<div class="row banner">
  <h1 class="aboutheader">About Us</h1>
  <h4 class="welcome">Welcome to MovieHUB </h4>
  <div class="row"></div>
  <div class="col-12"></div>
  <p class="aboutpara">
    Marvel movie House Cinemas have five locations within Ontario including Toronto, Kitchener, Brampton, Missisuaga and
    Hamilton. With over 40 screens across all sites, comfortable seating, fantastic sound and picture quality and the
    friendliest staff around, we pride ourselves on making our Movie House your home for movies!<br /><br /> Marvel movie House
    is also the home to many special offers including free 3D, fee free online booking and the fantastically
    popular Crazy Friday , where every ticket is just $4.50 all day Friday.</p>
  <h4 class="event">Corporate Events & Private Screen Hire</h4>
  <p class="aboutpara">With various locations and screen sizes, make Movie House the location for your next corporate
    event, private party or special event – we have screens in a huge range of sizes, can show a film or a corporate
    presentation and can even provide discounted snack packs for your guests.</p>
  <h4 class="social">Social Media</h4>
  <p class="aboutpara">We are on social media. Follow us on Facebook and Twitter to keep up to date with the newest
    movie releases and competitions!</p>
</div>
