extends layout

block content
  h1.homeheading= title
  h4.homesubheading  Movies Available to Book Now
  .row.row--ib
      .col-xs-4.col-md-3
        a(href='/', title='SpiderMan - No Way Home')
          div
            .thumb.listing-poster(style='background-image:url(./images/spiderman.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title SpiderMan-No Way Home
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Eternals')
          div
            .thumb.listing-poster(style='background-image:url(./images/eternals.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title Eternals
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Black Window')
          div
            .thumb.listing-poster(style='background-image:url(./images/blackwidow.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title Black Window
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Avenger - Endgame')
          div
            .thumb.listing-poster(style='background-image:url(./images/endgame.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title Avenger - Endgame
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Black Panther')
          div
            .thumb.listing-poster(style='background-image:url(./images/blackpanther.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title Black Panther
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Thor Ragnarok')
          div
            .thumb.listing-poster(style='background-image:url(./images/thor.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title Thor Ragnarok
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Docter Starnge')
          div
            .thumb.listing-poster(style='background-image:url(./images/doctor.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title Docter Starnge
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .col-xs-4.col-md-3
        a(href='/', title='Ironman')
          div
            .thumb.listing-poster(style='background-image:url(./images/IronMan.jpg);')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h4.thumb__title IronMan
      | &#x9;&#x9;&#x9;&#x9;&#x9;


    
        

  
