
<h1 class="homeheading">Marvel movie House</h1>
<h4 class="homesubheading">Movies Available to Book Now</h4>
<div class="row row--ib">
  <div class="col-xs-4 col-md-3">
    <a href="/" title="SpiderMan - No Way Home">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/spiderman.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">SpiderMan - No Way Home</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

  <div class="col-xs-4 col-md-3">
    <a href="/" title="Eternals">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/eternals.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Eternals</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

  <div class="col-xs-4 col-md-3">
    <a href="/" title="Black Window">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/blackwidow.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Black Window</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

  <div class="col-xs-4 col-md-3">
    <a href="/" title="Avenger - Endgame">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/endgame.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Avenger - Endgame</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

  <div class="col-xs-4 col-md-3">
    <a href="/" title="Black Panther">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/blackpanther.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Black Panther</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

  <div class="col-xs-4 col-md-3">
    <a href="/" title="Thor Ragnarok">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/thor.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Thor Ragnarok</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;


  <div class="col-xs-4 col-md-3">
    <a href="/" title="Docter Starnge">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/doctor.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Docter Starnge</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

  <div class="col-xs-4 col-md-3">
    <a href="/" title="Ironman">
      <div>
        <div class="thumb listing-poster" style="background-image:url(../../assets/images/IronMan.jpg);"></div>
      </div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      <h4 class="thumb__title">Ironman</h4>
    </a>
  </div>&#x9;&#x9;&#x9;&#x9;&#x9;

</div>
